.order_block{
 width: 270px;
 padding: 0 0 0;
 display:inline;
	float:left;
 }
 .order_block .order_list {
 padding: 3px 6px 0 6px;
 height: 22px;
 cursor: pointer;
 border-radius: 4px;
 margin: 0 20px 0 0;
 border: 1px solid #efefef;
 width: 237px;
 z-index: 11;
 background: #fcfcfc;
 }
 .order_list .btn {
 background: url(../img/dropdown.png);
 width: 17px;
 height: 18px;
 background-size: contain;
	background-repeat:no-repeat;
 float: left;
 }
 .order_list span {
 padding: 2px 0 0 2px;
 display: block;
 font-weight: bold;
 }
 .order_block ul.products_list {
 margin-left:20px;
 margin-top: 0px;
 z-index: 10;
 background: #fcfcfc;
 position: absolute;
 border-radius: 3px;
 width: 249px;
 padding: 0;
 border: 1px solid #eee;
 display: none;
 }
ul.products_list li {
 padding: 6px 9px;
 list-style-type: none;
 border-top: 1px solid #efefef;
 }
 ul.products_list li:hover {
 cursor: pointer;
 background: #fff;
 }
 .order_block .order_text {
 padding: 3px 5px;
 margin: 5px 0 0 3px;
 }
 .orderlist{
 margin-top:-10px;
 }